################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Swift/obj
/scan.bat
/.vs
/.sonarqube/bin
/.scannerwork
