before_build:
 - nuget restore
build_script:
 - choco install "sonarscanner-msbuild-net46" -y
 - SonarScanner.MSBuild.exe begin /k:"MarkMenchavez_Swift" /d:"sonar.host.url=https://sonarcloud.io" /o:"markmenchavez" /d:"sonar.login=7fdcbf6be3d9741322730014c3ab293bfc3d8101" /v:1.0
 - msbuild /verbosity:quiet "Swift.sln" /t:Rebuild
 - SonarScanner.MSBuild.exe end /d:"sonar.login=7fdcbf6be3d9741322730014c3ab293bfc3d8101"